<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="ftpUrl" value="ftp://waws-prod-dm1-043.ftp.azurewebsites.windows.net/site/wwwroot/"/>
  </appSettings>
</configuration>
